<header class="site-header">
  <nav class="nav" aria-label="Primary">
    <a class="brand" href="/">Weichware Lohr</a>
    <ul class="nav-list">
      <li><a data-nav="engineer" href="/webpages/engineer/">Engineer</a></li>
      <li><a data-nav="hipster" href="/webpages/hipster/">Hipster</a></li>
      <li><a data-nav="social-worker" href="/webpages/social-worker/">Social worker</a></li>
      <li><a data-nav="expert" href="/webpages/expert/">Expert</a></li>
      <li><a data-nav="consulting" href="/webpages/consulting/">Consulting</a></li>
    </ul>
  </nav>
</header>
